:root {
  --primary: #5465ff;
  --bg-accent: #0f073f;
  --black: #333;
  --light-color: #777;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

section {
  padding: 2rem 7%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  background: var(--black);
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.9rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--primary);
}

.header {
  background: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  padding: 1.2rem 7%;
}

.header .logo {
  font-size: 1.4rem;
  margin-right: auto;
  font-weight: bold;
}

.header .logo span {
  color: var(--primary);
}

.header .navbar a {
  color: var(--light-color);
  margin-right: 2rem;
  text-transform: capitalize;
}

.header .navbar a:hover {
  color: var(--primary);
}

.header .icons i {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  color: var(--black);
  background: #eee;
  border-radius: 50%;
  margin-left: 0.7rem;
  cursor: pointer;
}

.header .icons i:hover {
  color: #fff;
  background: var(--primary);
}

#menu-bars {
  display: none;
}

.banner {
  text-align: center;
  color: white;
  background-color: var(--bg-accent);
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .credit {
  text-transform: capitalize;
  color: var(--black);
  padding: 1rem 0;
}

.footer .credit span {
  color: var(--primary);
}

.footer .follow {
  padding: 1rem 0;
}

.footer .follow a {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background: var(--black);
  color: #fff;
  margin: 0 0.1rem;
  text-align: center;
}

.footer .follow a:hover {
  background: var(--primary);
}

/* media queries  */

@media (max-width: 991px) {
  .header {
    padding: 1.5rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bars {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    border-top: var(--border);
    border-bottom: var(--border);
    background: #fff;
    display: none;
  }

  .header .navbar.active {
    display: block;
  }

  .header .navbar a {
    display: block;
    background: #f7f7f7;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    border: var(--border);
  }

  .footer {
    flex-flow: column;
    text-align: center;
  }
}
